@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-image: url('/bg1.png');
  background-color: #1a1a1a; /* Fallback color */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  max-width: 1800px;
}

header, footer {
  background-image: repeating-linear-gradient(
    45deg,
    #ecc94b,
    #ecc94b 10px,
    #000000 10px,
    #000000 20px
  );
}

